<div class="container">
  <div class="row">

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="./../../../assets/img/listar.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Você pode ver as reclamações atuais...</h5>
          <p class="card-text">Ver todas as reclamações é uma forma de saber quais lugares estão recebendo mais reclamações.</p>
          <a routerLink="/reclamação" class="btn btn-secondary">Ver as reclamações</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="./../../../assets/img/incluir.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">... ou realizar uma nova</h5>
          <p class="card-text">Se o lugar onde você mora ainda não tem uma reclamação, você pode fazer uma.</p>
          <a routerLink="/reclamação/incluir" class="btn btn-primary">Fazer Reclamação</a>
        </div>
      </div>
    </div>
  </div>
</div>


